/* ProfilePage.module.css */

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 4;
    background-color: #f0f4f8;
    padding: 40px;
    margin-left: 20px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #7c9590;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* แบ่งฟอร์มเป็น 2 คอลัมน์ */
    gap: 30px; /* เว้นระยะระหว่างช่องกรอกข้อมูล */
    margin-left: 30px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .input:focus {
    border-color: #2e7d32;
    outline: none;
  }
  .inputGroup label{
    font-size: 1rem;
    font-weight: bold;
    color: #7c9590;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .button {
    width: 100%;
    padding: 12px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #1b5e20;
  }
  .loading {
    font-size: 1.2rem;
    color: #7c9590;
    text-align: center;
  }
  .success {
    color: green;
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center;
  }
  .error {
    color: red;
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center;
  }
  