/* AdminPage.module.css */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content {
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #7c9590;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .addButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .addButton:hover {
    background-color: #45a049;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitButton {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #45a049;
  }
  
  .userGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .userCard {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .userCard h3 {
    margin-bottom: 10px;
  }
  .editButton {
    background-color: rgb(219, 216, 80);
    color: rgb(3, 3, 3);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .editButton:hover {
    background-color: #faee9a;
  }
  .deleteButton {
    background-color: #e22929;
    color: rgb(254, 254, 254);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  .deleteButton:hover {
    background-color: #d86161;
  }
   /* Loading message */
   .loading {
    font-size: 1.2rem;
    color: #7c9590;
    text-align: center;
  }
  .error {
    color: red;
    text-align: center;
  }
  