/* Container หลักของหน้า */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  /* Content */
  .content {
    padding: 20px;
  }
  
  /* Title สำหรับหัวข้อ */
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* ฟอร์มแก้ไขผู้ใช้ */
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* สไตล์ input field */
  .form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* สไตล์ปุ่ม */
  .button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .buttonDelete {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .buttonDelete:hover {
    background-color: #c0392b;
  }
  /* เมื่อ hover ปุ่ม */
  .button:hover {
    background-color: #45a049;
  }
  
  /* สไตล์ข้อความ error */
  .error {
    color: red;
    text-align: center;
  }
  
  /* สไตล์สำหรับ <p> ใช้สำหรับ label ข้อมูล */
  .form p {
    margin-bottom: 5px; /* ระยะห่างด้านล่างระหว่าง label กับ input */
    font-size: 1rem;
    color: #333; /* สีของข้อความ label */
    text-align: left;
    width: 100%;
    max-width: 400px;
  }
  